@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 800px;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.grid-cols-2.sm:grid-cols-3.md:grid-cols-4 > div {
  padding: 0.5rem;
}
.text-base {
  font-size: 1rem;
}
.text-xs {
  font-size: 0.75rem;
}